<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>Komunity.4Students.CZ</title>
    <link REL="SHORTCUT ICON" HREF="/favicon.ico">
    <!-- StyleSheets -->
    <%= stylesheet_link_tag "main" %>
    <%= stylesheet_link_tag "login" %>
    <%= yield :styles %>
    <!-- JavaScript -->
    <%= javascript_include_tag "jquery" %>
    <%= javascript_include_tag "swfobject" %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <div id="sections"></div>
        <div id="logo"></div>
      </div>
      <div id="content">
        <%= yield %>
      </div>
    </div>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try{
        var pageTracker = _gat._getTracker("UA-4054927-1");
        pageTracker._setDomainName(".4students.cz");
        pageTracker._initData();
        pageTracker._trackPageview();
      } catch(err) {}
    </script>
  </body>
</html>
